h2 {
    margin-left: 10px;
    background: url("../img/icon.png") no-repeat left top ;
    -webkit-background-size: contain;
    background-size: contain;
    padding-left: 50px;
}


.musician {
    display: block;
    width: 90%;
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}